# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Python packaging and build artifacts
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Logs and databases
*.log
*.sqlite
*.db

# Testing
.coverage
htmlcov/
.pytest_cache/
test.db

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.local
.env.dev
.env.prod

# macOS
.DS_Store

# Windows
Thumbs.db
